body {
  overflow-x: hidden;
}
#issue_body,
.octofiles,
.octofiles textarea {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 99999 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border: none !important;
  outline: none !important;
}
#issue_body,
.octofiles textarea {
  color: transparent !important;
  background: white !important;
  opacity: 0 !important;
}
.octofiles {
  pointer-events: none;
  z-index: 999999 !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.octofiles.dark {
  background: #24292e;
  color: white;
}
.octofiles button,
.octofiles ul {
  pointer-events: all;
}
.octofiles ul {
  max-width: 600px;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
.octofiles ul li {
  display: block;
  text-align: left;
  padding: 0;
}
.octofiles ul li strong {
  font-size: 16px;
}
.octofiles ul li a {
  font-size: 12px;
}
.octofiles h1,
.octofiles h2,
.octofiles h3,
.octofiles h4,
.octofiles h5,
.octofiles ul,
.octofiles ul li {
  display: block;
  margin: 0 0 15px 0;
}
.octofiles ul li:last-child {
  margin: 0;
}
.octofiles svg path {
  fill: #24292e;
}
.octofiles .octicon-sync {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

.octofiles .copy {
  margin: auto auto 20px;
  max-height: 30vh;
  overflow: scroll;
}

.octofiles .uploads {
  margin-top: 40px;
}

.octofiles .listing {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  align-items: start;
  justify-content: center;
  border: 1px solid #efefef;
  overflow: scroll;
  margin: 0 5%;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.octofiles .uploads.open .listing {
  border: none;
  border-radius: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  pointer-events: all;
  background: white;
  z-index: 999999999;
  margin: 0;
}

.octofiles .uploads.open .listing .btn {
  position: absolute;
  top: 20px;
  right: 20px
}

.octofiles .listing .full {
  width: 100%;
  margin: 0 0 20px;
}

.octofiles .listing a {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5px;
  width: 15%;
  position: relative;
  pointer-events: all;
}

.octofiles .uploads.open .listing a {
  display: flex !important;
}

.octofiles .listing a:nth-child(-n+7) {
  display: flex;
}

.octofiles .listing a span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.octofiles .listing a .image {
  width: 100%;
  height: 0;
  padding: 0 0 100% 0;
  display: flex;
  border-radius: 3px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #efefef;
  text-align: center;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.octofiles .listing a .image:not(.bg-file) svg {
  display: none;
}

.octofiles .listing a .image.bg-file svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25%;
  display: block;
}

.octofiles .listing a .name {
  font-weight: bold;
  font-size: 10px;
  padding: 5px 0;
  word-wrap: break-word;
  width: 100%;
  display: block;
}

.octofiles .uploads.open .listing a:hover .remove-upload {
  display: flex;
}

.octofiles .listing .clear {
  width: 100%;
  text-align: center;
}

.octofiles .listing .remove-upload {
  background: red;
  width: 24px;
  height: 24px;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 100%;
  border-radius: 50%;
  font-weight: bold;
}

.octofiles .uploads h3 {
  margin: 0 0 30px 0;
}

.octofiles hr {
  margin: 50px 0;
}
